# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
# This .dockerignore file follows the "whitelisting" approach described here:
#    https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html

#
# First, exclude everything by default:
#
*

#
# Now un-exclude only those folders and files that are needed for building the image:
#
!./sql/a01_create_db.sql
!../../core_tables.sql
!./sql/d01_create_db.sql
!./sql/e01_create_sample_procedure.sql
!./scripts/e02_add_sample_data.sh
