# This .dockerignore file follows the "whitelisting" approach described here:
#    https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html

#
# First, exclude everything by default:
#
*

#
# Now un-exclude only those folders and files that are needed for building the image:
#
!./sql/a01_create_db.sql
!./sql/b01_create_sample_procedure.sql
!./scripts/b02_add_sample_data.sh
